<div class="row">
  <div class="col" style="margin-left: 40px;">
      <table class="table" style="width: 35rem;">
          <caption id="average"></caption>
          <thead class="thead-light">
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Starts</th>
                  <th>Ends</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let conferencia of conferencias">
              <td>{{conferencia.id}}</td>
              <td><a class="conferencia" href="#">{{conferencia.name}}</a><td>
              <td>{{conferencia.starts}}</td>
              <td>{{conferencia.ends}}</td>
            </tr>
          </tbody>
      </table>
  </div>
  <div class="col" style="margin-left: 40px;">
    
  </div>
</div>